<table class="table table-striped table-hover">
    <thead>
      <tr style="text-align: center;">
        <th>Total de Pedidos</th>
        <th>Valor Total Faturado</th>
        <th>Total de Produtos Vendidos</th>
      </tr>
    </thead>
    <tbody>
        <tr style="text-align: center;">
            <td>{{ resumoVendas.totalPedidos }}</td>
            <td>{{ resumoVendas.valorTotalFaturado }}</td>
            <td>{{ resumoVendas.totalProdutosVendidos }}</td>
        </tr>
    </tbody>
  </table>