button {
    margin-left: 5px;
}

h6{
    color: white;
    text-align: left;
    width: 20%;
    padding-left: 0.6%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  