button {
    margin-left: 5px;
    background-color: #007bff;
    color: white;
    border-color: transparent;
}

button:hover {
    background-color: white;
    color: #007bff;
    border-color: transparent;
}

h6{
    color: white;
    text-align: left;
    width: 20%;
    padding-left: 0.6%;
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: center;
}
  